.Gallery{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 28vh;

}
.Gallery .Gallery-Para{
  width: 90%;
  text-align: center;
}
.Gallery h1{
  color: #13274e;

}
.Gallery .Slider {
  width: 60%;
  height: fit-content;


}
.Gallery .Images {  
  border: 5px solid #13274e;
  border-radius: 10px;
}
.Gallery .Mods{
  color: #F79621;
}
.Gallery .thumb{
  width: 20% !important;
  min-width: 100px;
}
@media only screen and (max-width: 900px){
  .Gallery .Slider{
    width: 80%;
    margin-top: 0%;
  }
}